
body {
	font-family: Open Sans;
}

ul,ol {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black
}

.container {
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

/* Header */

.header {
	border-bottom: 4px dashed #777;
	padding-bottom: 30px;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.main-title {
	font-size: 3rem;
}

.my-profession {
	font-size: 2rem;
}

.nav-link {
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.nav-link a:hover {
	color: #999;
}

.authors-photo {
	border-radius: 50%;
	box-shadow: 1px 1px 10px black;
}

.contact-block {
	max-width: 318px;
	width: 100%;
}

.contact-block li {
	margin-bottom: 20px;
	margin-left: 114px;
}

.contact-item {
	display: flex;
	align-items: center;
}

.contact-item span {
	font-size: 1.5rem;
	margin-left: 10px;
}

.contact-item span:hover {
	color: #999;
}